.justify-content-between {
    justify-content: space-between !important;
}
.d-flex {
    display: flex !important;
}
em {
    float:right;
    color: #E05C65;
    padding-left: 10px;
}

button {
    margin-right: 5px;
    margin-top: 5px;
}