.justify-content-between {
    justify-content: space-between !important;
}
.d-flex {
    display: flex !important;
}

button {
    margin-right: 5px;
    margin-top: 5px;
}

.error-display {
    padding: 16px;
    margin-bottom: 8px;
    border: 1px solid #b44040;
    border-radius: .25rem;
    text-align: center;
}