
.search {
    height: 40px;
    background-color: #F7F7F7;
    border: none;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #F7F7F7;
    color: white;
    font-weight: 600;
    border-bottom: 1px solid #F7F7F7;
}

.top {
    top: 60px;
}

.white {
    background-color: white;
}

.test {
    background-color: red;
}

.box {
    all: unset;
    background-color: white;
    height: 60px;
    width: 100px;
    margin: 10 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: "Overpass",sans-serif;
    font-weight: 100;
}

.box:hover {
    border-bottom: 2px solid saddlebrown;
    border-top: 2px solid #F7F7F7;
}

.left {
    margin-left: 300px;
}
  