<!--<div class="card-group">
    <div *ngFor="let wine of data">
        <div class="card">
            <img src="/assets/images/sandemand.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ wine.name }}</h5>
              <p class="card-text"> {{ wine.producer }} - {{ wine.type }} </p>
              <p class="card-text"> {{ wine.year }} </p>
              <p class="card-text"><small class="text-muted"> {{ wine.rating }} </small></p>
            </div>
          </div>
    </div>
  </div>-->
  <div>
    <h1>Wines</h1>
  </div>
  <div *ngIf="loading">
    <img src="/assets/spinner.gif" height="40" width="40">
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div *ngFor="let wine of data">
        <div class="col">
            <div class="card">
                <img src="/assets/images/sandemand.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ wine.name }}</h5>
              <p class="card-text"> {{ wine.producer }} - {{ wine.type }} </p>
              <p class="card-text"> {{ wine.year }} </p>
              <p class="card-text"><small class="text-muted"> {{ wine.rating }} </small></p>
            </div>
            </div>
          </div>
    </div>

