<h1>About</h1>
<p>The main technologies used building this site are:</p>
<ul>
    <li>
        Angular
    </li>
    <li>
        TypeScript
    </li>
    <li>
        Bootstrap
    </li>
    <li>
        Firebase
    </li>
</ul>
<div class="d-flex justify-content-around mt-5 mb-3">
    <div><img src="/assets/icons/technologies/angular.svg" width="84" height="84"></div>
    <div><img src="/assets/icons/technologies/typescript.svg" width="84" height="84"></div>
    <div><img src="/assets/icons/technologies/bootstrap.svg" width="84" height="84"></div>
    <div><img src="/assets/icons/technologies/firebase.svg" width="84" height="84"></div>
</div>